port            = 9000
base_address    = "http://rally1.rallydev.com/slm/webservice/1.23"
user_name       = "user@example.com"
password        = "******"
defect_prefix   = "DE"
defect_states   = ["Submitted", "Open", "Fixed", "Closed", "Resolved other"]
task_prefix     = "TA"
task_states     = ["Defined", "In-Progress", "Completed"]
story_prefix    = "US"
story_states    = ["Backlog", "Defined", "In-Progress", "Completed", "Accepted"]
